name: Build an image with debugging tools
run-name: ${{ github.actor }} testing build.
on:
  push:
    branches:
      - main
      - 'feature/**'
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          submodules: 'true'
          fetch-depth: 1
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      # - name: Login to Docker Hub
      #   uses: docker/login-action@v3
      #   with:
      #     username: ${{ secrets.DOCKERHUB_USERNAME }}
      #     password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Get content
        run: |
          ls -lah ./images/debugging-tools
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: "./images/debugging-tools"
          platforms: linux/amd64,linux/arm64
          push: false
          tags: olafradicke/quakers-social/debugging-tools:${{  github.ref_name }}